/*font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;*/

*{
    background: #67a1e0
}

nav{
    background: #EEF7FC
}

h1{
    color: #060E0D;
    font-family: 'Oswald', sans-serif;
    background: #EEF7FC
}

.menu {
    font-family: 'Oswald', sans-serif;
}


p {
    font-family: 'Merriweather', serif;
    background: #EEF7FC
}